
/***** Start of the NPC sheet *****/
.sheet-npc {
	background-color: #040404;
	color: #fff;
	min-height: 800px;
	padding: 10px 10px;
	width: 720px;
}

.sheet-npc button[type="roll"] {
	color: #FCD116;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

.sheet-npc .sheet-toggle-buttons button {
	color: #fff;
}

.sheet-npc h1, .sheet-npc h2 {
	color: #FCD116;
	font-size: 1.5em;
}

.sheet-goon,
.sheet-host,
.sheet-vehicle {
	width: 100%;
}

.sheet-npc input {
	background-color: #555;
	color: white;
}

.sheet-npc label {
	color: #fff;
	font-size: 14px;
}

.sheet-npc textarea {
	color: #fff;
	margin-top: -35px;
}

.sheet-npc .sheet-display label {color: #FCD116;} 

.sheet-npc .sheet-display .sheet-attr-header button:hover,

.sheet-npc textarea {
	background-color: #333;
}

.sheet-npc select {
	background-color: #000;
	color: #FCD116;
}

.sheet-npc hr {color: #fff;}

/***** Customize columns & rows *****/
	.sheet-row {margin: 0px 0px 0px 0px;}

	.sheet-leftcol,
	.sheet-2col {
		display: inline-block;
		vertical-align: top;
		width: calc(40% - 0px);
	}

	.sheet-2col {width:calc(29% - 0px) ;}

	.sheet-leftcol span,
	.sheet-2col span {
		margin-left: -2px;
	}

	input.sheet-character-type {
		left: 90px;
		margin-left: -80px;
		width: 90px;
	}



/***** Toggles & the Gear icons *****/
	.sheet-toggle input[type="checkbox"] + span {
	    background: transparent;
	    color: #fff;
	    font-family: pictos;
	    font-size: 20px;
	    height: 20px;
	    text-align: center;
	    width: 20px;
	}

	.sheet-toggle input[type="checkbox"]:hover + span,
	.sheet-toggle input[type="radio"]:hover + span,
	.sheet-toggle input[type="checkbox"]:checked + span,
	.sheet-toggle input[type="radio"]:checked + span,
	.sheet-character-type:checked + label,
	.sheet-character-type:hover + label,
	input.sheet-con-reset:hover ~ label.sheet-cond-header,
	input.sheet-whisper-flag:checked ~ span.sheet-whisper-flag,
	input.sheet-wound-flag:checked ~ span.sheet-wound-flag,
	input.sheet-modifier-flag:checked ~ span.sheet-modifier-flag,
	input.sheet-edge-flag:checked ~ span.sheet-edge-flag,
	input.sheet-npc-type:checked + span.sheet-goon-flag,
	input.sheet-npc-type:checked + span.sheet-host-flag, 
	input.sheet-npc-type:checked + span.sheet-vehicle-flag, 
	input.sheet-whisper-flag:hover ~ span.sheet-whisper-flag,
	input.sheet-wound-flag:hover ~ span.sheet-wound-flag,
	input.sheet-modifier-flag:hover ~ span.sheet-modifier-flag,
	input.sheet-edge-flag:hover ~ span.sheet-edge-flag,
	input.sheet-npc-type:hover + span.sheet-goon-flag,
	input.sheet-npc-type:hover + span.sheet-host-flag, 
	input.sheet-npc-type:hover + span.sheet-vehicle-flag  {
		 color: #FCD116;
	}

	.sheet-skills button[type="roll"] {
		color: #fff;
	}

	.sheet-skills button:hover,
	.sheet-skills button:focus {
		color: #FCD116;
	}


	.sheet-skill-col label {
		font-size: 0.9em;
	}

	.sheet-skill-col span {
		text-transform: capitalize;
	}

	.sheet-skill-col input[type="checkbox"] {
		left: 100px;
		margin-left: -105px;
		position: relative;
		width: 80%;
	}

	.sheet-skill-col input[type="number"] {
		float: right;
	}

	.sheet-skill-col input[type="text"],
	.sheet-skill-col input[type="text"] + input[type="number"] {
		display: none;
	}

	.sheet-skill-col input[type="checkbox"]:checked ~ input[type="text"] {
		display: inline-block;
		margin-bottom: 3px;
		text-align: left;
		width: 133px;
	}

	.sheet-skill-col input[type="checkbox"]:checked ~ input[type="number"] {
		display: inline-block;
	}

/***** Settings & Display Customizations *****/
	.sheet-settings {
	}

	.sheet-npc .sheet-settings input[type="text"] {
		height: auto;
		width: 115px;
	}

	.sheet-npc .sheet-settings input[type="number"] {width: 25px;}

	.sheet-display {
		vertical-align: top;
		width: calc(100% - 0px) !important;
	}

	.sheet-npc .sheet-display span {
		border: 0px;
		font-size: 12px;
		letter-spacing: 0.5px;
		line-height: 1em;
	}

	.sheet-display .sheet-textrow span {
		overflow-wrap: break-word;
		overflow: hidden;
		white-space: pre-line;
	}

	.sheet-settings,
	.sheet-weapon-melee,
	.sheet-weapon-range,
	input.sheet-settings-toggle:checked ~ div.sheet-display {display: none;}

	.sheet-display,
	input.sheet-settings-toggle:checked ~ div.sheet-settings {
		background: none;
		display: inherit;
		font-size: 1em;
		text-align: left;
	}

/***** Customize Stats section *****/
	.sheet-stats {display: inline;}

/***** Customize Attribute Section *****/
	.sheet-attribute {
		border-bottom: 1px solid #fff;
		border-top: 1px solid #fff;
		margin: 10px 0px;
		text-indent: center;
		width: 100%;
	}

	.sheet-attribute button {
		color: #FCD116;
	}

	.sheet-attribute button:hover,
	.sheet-attribute button:focus {
		color: #fff;
	}

	.sheet-attr-header {
		margin-bottom: 5px;
		text-align: center;
		width: 80%;
	}

/***** Bonus Row Customization *****/
	.sheet-bonusrow {
		display: inline-block;
		width: 100%;
	}

	.sheet-con-reset {
		margin-left:-165px;
		margin-right: 5px;
		width: 23.2% !important;
	}

	input.sheet-con-reset + label {float: left;}

/***** Customizations to skills section *****/
	.sheet-skill-row {margin: 5px 0px 0px 0px;}

	.sheet-skill-col {
		display: inline-block;
		margin: 5px 0px 0px 4px;
		width: 19%;
	}

	.sheet-skill-col label {text-decoration: underline;}

	.sheet-stats ul {
		list-style-type: none;
		vertical-align: top;
	}

	.sheet-stats label {
		margin-bottom: 0px;
		padding-right: 0px;
	}

	.sheet-stats input[type="number"] {
		height: 15px !important;
		margin-bottom: 1px;
	}

	.sheet-stats div.sheet-settings {
		font-size: 0.8em !important;
		margin: -15px 0px 0px 0px;
		width: 100%;
	}

	.sheet-stats div.sheet-spacer {
		height: 15px;
		margin-bottom: 5px;
	}

/**** Customizations of Displays ****/
	.sheet-textrow {
		display: inline-block;
		width: 100%;
	}

	.sheet-textrow textarea {margin-bottom: 10px;}

	.sheet-settings .sheet-textrow label {margin-bottom: 36px;}

	.sheet-npc .sheet-quality div.sheet-display,
	.sheet-npc .sheet-weakness div.sheet-display {text-indent: 78px;}

	.sheet-augmentation div.sheet-display {text-indent: 125px;}

	.sheet-power div.sheet-display {text-indent: 65px;}

	.sheet-gear div.sheet-display {text-indent: 45px;}

/**** Customize all the cogs Toggle Settings ****/
	.sheet-stats input.sheet-settings-toggle + span,
	.sheet-textrow input.sheet-settings-toggle + span,
	.sheet-repeating input.sheet-settings-toggle + span {
		position: relative;
	}

	.sheet-stats input.sheet-settings-toggle,
	.sheet-stats input.sheet-settings-toggle + span {
		top: 30px;
	}

	.sheet-stats input.sheet-settings-toggle + span {left: 92%;}

	.sheet-textrow input.sheet-settings-toggle {
		left: 775px;
		top: -12px;
	}

	.sheet-textrow input.sheet-settings-toggle + span {
		left: 750px;
		top: -10px;
	}

	.sheet-repeating input.sheet-settings-toggle {
		left: -5px;
		top: 5px;
	}

	.sheet-repeating input.sheet-settings-toggle + span {
		font-size: 0.8em;
		left: -9px;
		top: 3px;
	}

	button.sheet-spec-button {
		margin-left: 2px !important;
		margin-right: 2px !important;
	}

/**** Customize Repeating Sections ****/
	.sheet-repeating {
		display:inline-block;
	}

	.sheet-repeating button.sheet-display {
		text-align: left;
	} 

	.sheet-repeating input[type="checkbox"],
	.sheet-repeating input[type="checkbox"] + span {
		position: absolute;
	}

	.sheet-repeat-indent {
		padding-left: 2.5em; 
		text-indent: -1.5em;
	}

	.sheet-repeat-indent button[type="roll"] {
		color: #fff;
	}

	.sheet-repeat-indent button[type="roll"]:hover,
	.sheet-repeat-indent button[type="roll"]:focus  {
		color: #FCD116;
	}


	.sheet-repeating .sheet-display {
		display: inline-flex;
	}

	.sheet-repeat-section {
		display: inline-block;
	}

	.sheet-repeat-section input {
		height: 25px;
		background-color: transparent;
		border-bottom: 1px solid #fff;
		border-radius: 0px;
	}

	.sheet-repeat-row {
		display: inherit;
		width: fit-content;
	}

	.sheet-repeat-row h4 {
		color: #fff;
		font-size: 0.6em;
		font-variant: small-caps;
		text-align: center;
		text-decoration: underline;
	}

	.sheet-repeat-row span {
		font-size: 0.8em;
	}

/**** Weapons Customize ****/
	span.sheet-weapon-dice,
	.sheet-weapon-dice span {font-size: 12px;}

	.sheet-weapon-settings label {
		font-size: 11px;
		font-weight: bold;
	    line-height: 15px;  
	    margin: auto;
	    vertical-align: super;
	    width: 100%;
	}

	.sheet-repeating input[type="checkbox"] {
		width: 15px;
		height: 15px;
	}

	input.sheet-melee-toggle:checked ~ div.sheet-weapon-melee,
	input.sheet-range-toggle:checked ~ div.sheet-weapon-range {display: inherit;} 

	.sheet-settings input[type="checkbox"] + span,
	.sheet-weapon-range input[type="number"] + span,
	.sheet-settings input[type="radio"] + span {
		font-family: sans-serif;
		font-size: 12px;
		margin-left: 0px;
		margin-right: -9px;
	} 

	.sheet-weapon-note {
		display: inherit;
		margin-top: 3px;
	}

	.sheet-npc .sheet-settings .sheet-weapon-note input[type="text"] {
		text-align: left;
		width: 700px;
	}

	input.sheet-range-toggle,
	input.sheet-melee-toggle {
		left: 36px;
		margin-left: -25px;
		position: relative;
	}

	.sheet-repeating .sheet-settings input[type="number"],
	input.sheet-wea-dv {
		width: 35px !important;
	}

	input.sheet-melee-toggle + span {margin-right: 0px !important;}

/**** Spell Customizations ****/
	input.sheet-spell-toggle {margin: 0px -38px 0px 5px;}

	.sheet-magic .sheet-repeating select {width: fit-content;}

	input.sheet-spell-input {width: 35px !important;}

/**** Matrix row Customizations ****/
	.sheet-matrix {
		/* box-shadow: 2px 0px 40px 2px #4f7da7; */
	}

	.sheet-matrix h2 {
		display: inline-block;
		font-size: 1em;
		width: 16.5%;
	}

	.sheet-matrix h3{
		color: #000;
		text-align: center;
		text-shadow: 0 0 25px #4f7da7, 0 0 5px #4f7da7;
	}

	.sheet-matrix .sheet-2col {
		display: inline;
		width: calc(49% - -2px);
	}

	.sheet-matrix label {
		text-indent: 10px;
		width: 18%;
	}

	.sheet-matrix .sheet-2col label {
		width: fit-content;
	}

	.sheet-matrix input[type="number"] {
		border-radius: 25px 25px;
		height: 25px;
		width: 25px;
	}

	.sheet-matrix input[type="text"] {
		background: none;
		border-bottom: 1px solid;
		border-radius: 0px;
		text-align: left;
		width: 30%;
	}

	/**** Matrix Bubbles ****/
		.sheet-matrix-bubble {
			display: inline;
			margin-left: 15px;
			margin-right: 25px;
		}

		.sheet-5bub + span {
			margin-right: 15px;
		}

		.sheet-matrix-bubble input[type="radio"] {
			height: 25px;
			width: 20px;
		}

		.sheet-matrix-bubble input[type="radio"] + span {
			border-radius: 5px;
			display: inline-block;
			height: 25px;
			left: 5px;
			margin-left: -25px;
			top: 5px;
			width: 20px;
		}

		.sheet-matrix-bubble input[type="radio"]:checked ~ input[type="radio"] + span {
			height: 14px;
			margin-bottom: 3px;
			opacity: 0.5;
		}

		.sheet-matrixAttack {
			box-shadow: 0px 0px 29px 8px  #cc0701;
		}

		.sheet-matrixAttack span {
			border: 2px solid #3a0000;
			background-color: #cc0701;
			-webkit-box-shadow: inset 0px 1px 5px 2px #3a0000;
			-moz-box-shadow: inset 0px 1px 5px 2px #3a0000;
			box-shadow: inset 0px 1px 5px 2px #3a0000;
		}

		.sheet-matrixSleaze {
			box-shadow: 0px 0px 29px 8px  #007bfc;
		}

		.sheet-matrixSleaze span {
			border: 2px solid #000e3b;
			background-color: #007bfc;
			-webkit-box-shadow: inset 0px 1px 5px 2px #000e3b;
			-moz-box-shadow: inset 0px 1px 5px 2px #000e3b;
			box-shadow: inset 0px 1px 5px 2px #000e3b;
		}

		.sheet-matrixData {
			box-shadow: 0px 0px 29px 8px  #88dd04;
		}

		.sheet-matrixData span {
			border: 2px solid #074202;
			background-color: #88dd04;
			-webkit-box-shadow: inset 0px 1px 5px 2px #074202;
			-moz-box-shadow: inset 0px 1px 5px 2px #074202;
			box-shadow: inset 0px 1px 5px 2px #074202;
		}

		.sheet-matrixFirewall {
			box-shadow: 0px 0px 29px 8px  #f88703;
		}

		.sheet-matrixFirewall span {
			border: 2px solid #470101;
			background-color: #f88703;
			-webkit-box-shadow: inset 0px 1px 5px 2px #470101;
			-moz-box-shadow: inset 0px 1px 5px 2px #470101;
			box-shadow: inset 0px 1px 5px 2px #470101;
		}

	/**** Matrix Program Customizations ****/
		.sheet-matrix .repcontainer {
			margin-top: 0px;
		}

		.sheet-matrix .sheet-weapon-note input[type="text"] {
			margin-top: 5px;
			width: 650px;
		}

		.sheet-matrix .sheet-settings,
		.sheet-matrix .sheet-display,
		.sheet-host .sheet-display {
			margin-left: 10px;
		}

		.sheet-matrix .sheet-display span {
			margin-right: 5px;
		}

		.sheet-matrix .sheet-display button + span {
			font-size: 12px;
		}

		.sheet-matrix .sheet-repeat-indent,
		.sheet-host .sheet-repeat-indent {
			padding-left: 3em;
			text-indent: -1.5em;
		}

		input.sheet-program-toggle {
			left: 15px;
			top: 5px;
		}

		span.sheet-program-toggle {
			font-size: 15px !important;
			left: 24px;
			top: 2px;
		}

		.sheet-program-toggle[value="0"] + div.sheet-repeat-indent {opacity: 0.3;}

/**** Hide Sections that are not used ****/
	.sheet-optional-flag0[value="1"] + .sheet-optional {display: inline-block;}

	.sheet-optional-flag0[value="1"] + .sheet-textboxes {
		display: inherit;
		width: 100%;
	}

	.sheet-matrix,
	.sheet-magic,
	.sheet-resonance,
	.sheet-optional,
	.sheet-optional-flag0[value="0"] + .sheet-textboxes,
	.sheet-optional-flag0[value="0"] + .sheet-attr-header,
	.sheet-spell_catagory + div,
	.sheet-spell_catagory + div + div,
	.sheet-goon,
	.sheet-host,
	.sheet-vehicle  {display: none;}

	.sheet-spell_catagory[value="Combat"] + div,
	.sheet-spell_catagory[value="Combat"] + div + div,
	.sheet-character-type[value="matrix"] + .sheet-matrix {display: inherit;}

	.sheet-npc-type[value="goon"] ~ .sheet-goon,
	.sheet-npc-type[value="host"] ~ .sheet-host,
	.sheet-npc-type[value="vehicle"] ~ .sheet-vehicle {display: inline-block;}

	.sheet-npc-type[value="goon"] ~ div.sheet-goon.sheet-attribute,
	.sheet-npc-type[value="host"] ~ div.sheet-host.sheet-attribute,
	.sheet-npc-type[value="vehicle"] ~ div.sheet-vehicle.sheet-attribute {display: inline-flex;}

	.sheet-npc-type[value="host"] ~ .sheet-wound-flag,
	.sheet-npc-type[value="host"] ~ .sheet-edge-flag,
	.sheet-npc-type[value="vehicle"] ~ .sheet-wound-flag,
	.sheet-npc-type[value="vehicle"] ~ .sheet-edge-flag,
	.sheet-magic-skill,
	.sheet-resonance-skill {opacity: 0.15;}

	.sheet-character-type[value="magic"] + .sheet-magic-skill,
	.sheet-character-type[value="magic"] + .sheet-magic-skill + .sheet-magic-skill,
	.sheet-character-type[value="resonance"] + .sheet-resonance-skill {opacity: 1;}

	.sheet-character-type[value="magic"] ~ .sheet-magic,
	.sheet-character-type[value="magic"] ~ .sheet-magic + .sheet-magic,
	.sheet-character-type[value="resonance"] ~ .sheet-resonance,
	.sheet-character-type[value="resonance"] ~ .sheet-resonance + .sheet-resonance {display: inline-block;} 

/**** emoves the arrows for increase numbers ****/
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}

/**** Armor Buttons ****/
	.sheet-armor-buttons {margin-left: 15px;}

	.sheet-armor-buttons,
	.sheet-armor-buttons span {
		display: inline-block;
		font-family: "pictos";
		font-size: 1em;
		padding: 0px;
		position: relative;
	}

/**** Roll Toggles ****/
	.sheet-roll-toggles,
	.sheet-roll-toggles span {
		display: inline;
		font-family: "pictos";
		font-size: 1.5em;
		margin-bottom: 5px;
		position: relative;
	}

	.sheet-roll-toggles input {
		height: 20px;
		width: 20px;
	}

	.sheet-toggle-buttons {
		display: inline-block;
		margin-right: 7px;
	}

	.sheet-toggle-toggles {
		display: inline-block;
		letter-spacing: -8px;
	}

	.sheet-type-toggles {
		display: inline-block;
		margin-left: 45%;
	}

	.sheet-type-toggles input[type="radio"] {left: 23px;}

	span.sheet-pictosC {font-family: "Pictos Custom";}

	span.sheet-pictos3 {font-family: "Pictos Three";}

	span.sheet-d6 {font-family: "dicefontd6";}

	input.sheet-whisper-flag,
	input.sheet-wound-flag,
	input.sheet-modifier-flag,
	input.sheet-edge-flag {
	 	left: 20px;
	 	opacity: 0;
	}

	span.sheet-wound-line {
		color: #000;
		font-size: 1em;
		left: -7%;
		top: -1px;
	}

/**** Footer ****/
	.sheet-footer {
		border: none;
		font-size: 0.55em;
		line-height: 15px;
		margin-top: 15px;
		text-align: left;
		width: 700px;
	}

/**** Repeating Section ****/
	.repcontainer {
	}

	.repcontainer .repitem {
		margin-bottom: 5px;
	}

	.repcontrol {
		display: inline-block;
		vertical-align: top;
	    min-height: 27px;
	}

	.repcontrol .btn {
		display: inline-block;
		width: 25px;
	    background: none;
	    border: medium none;
	    box-shadow: none;
	    color: transparent !important;
	    margin-left: 10px;
	    outline: 0;
	    padding: 0px 0px 0px 0px;
	    text-shadow: none;
	}

	.repcontrol .repcontrol_edit:after {
	    background-color: none;
	    color: #fff;
	    content: '(';
	    font-family: pictos;
	    font-size: 16px;
	    height: 12px;
	    padding: 2px 4px 2px 4px;
	    visibility: visible;
	    width: 12px;
	}

	.editmode ~ .repcontrol .repcontrol_edit:after {
		content: ')';
	}

	.repcontrol .repcontrol_add:after {
	    background-color: none;
	    color: #fff;
	    content: '&';
	    font-family: pictos;
	    font-size: 16px;
	    height: 12px;
	    padding: 2px 4px 2px 4px;
	    visibility: visible;
	    width: 12px;
	}

	.repcontrol .repcontrol_edit:hover:after,
	.repcontrol .repcontrol_add:hover:before {
		color: #FCD116;
	    background-color: none;
	}

	.itemcontrol {z-index: 10;}

	.itemcontrol .repcontrol_del,
	.itemcontrol .repcontrol_move {
	    font-size: 10px;
	    height: 18px;
	    margin-top: 3px;
	    padding: 0px;
	    width: 18px;
	}